---

---

<div class="pt-10 text-center border-t border-theme-border">
  <div class="text-display-alt text-theme-fg">Syne</div>
  <div class="text-overline mt-2 normal-case tracking-normal text-theme-fg-tertiary">
    Brand Identity v2.0 · February 2026
  </div>
</div>
